.card-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.card {
  position: relative;
  width: auto; /* Adjust card width for responsiveness */
  max-width: 250px; /* Maximum width for individual cards */
  height: auto;
  border-radius: 10px;
  overflow: hidden;
  margin: 10px;
}

.full-image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 16px;
  color: #fff;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
}

.solid-background {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 16px;
  text-align: center;
}

.card-title {
  font-size: 1.5rem;
  margin-bottom: 8px;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.card-description {
  color: #ccc;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
