.main {
  display: flex;
  flex-direction: column;
  height: 200vh;
}

.nav {
  position: sticky;
  top: 0;
  z-index: 1000;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Mycol {
  background-color: red;
}

.carousel-image {
  width: 100%; /* Example styles */
  height: 300px; /* Example styles */
  object-fit: cover; /* Example styles */
  /* Add any other necessary styles */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
